@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Merriweather:wght@400;900&family=Mulish:wght@400;500;600;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

  *{margin: 0px;
    padding: 0px;
    font-family: 'Mulish', sans-serif;
    }
    .header-container{
        max-width: 1250px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.125rem;
    }
    .nav-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        margin-bottom: 3.125rem;
    }
    .nav-web-name{
        font-size: 2.4rem;
        font-weight: 800;
    }
    .nav-web-name span{
        color: #FF5400;
    }
    #nav-name {
        display: flex;
        gap: 1.1rem;
        width: 57%;

        
    }
    #nav-manu a {
        text-decoration: none;
        padding-left: 2.75rem;
        text-align: center;
        
        
    }
    #nav-manu{
        margin-right: 0px;
        width: 43%;
       
        
    }
    
    .nav-manu-color1{
        color: #FF5400;
        
    }
    .nav-manu-color2{
        color: #424247;
    }

    .three-bar-icon{
       
        min-width: 1.25rem;
        min-height: 1.25rem;
        display: none;
    }
    .three-bar {
        width: 1.5rem;
        height: .1875rem;
        background-color: black;
        margin: 0.1875rem;
    }


    #header-image{
        
        background-image: url("images/bgimage.png");
        min-height: 31.25rem;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
    }

    .header-image-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        row-gap: 1.5rem;

    }

    .header-image-text h2{
        width: 37.25rem;
        font-size: 4rem;
        color: #FFF;
        text-align: center;
    }
    .header-image-text p{
        width: 42.25rem;
        font-size: 1rem;
        color: #FFF;
        text-align: center;
    }

    .input-field{
        border-radius: 0.5rem;
        background: rgba(255, 255, 255, 0.30);
        height: 5.25rem;
        width: 50rem;
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 1.5rem;
        
        
    }
    .option{
        width: 9.375rem;
        border-radius: 8px;
        background: #FFF;
        border: none;
        width: 10.875rem;
        height: 3.25rem;
        text-align: center;

    }
    #clor1 {
        color: red
        font-size: 1rem;
        font-weight: 400;
    }

    #button-color {
        background-color: #FF5400;
    }
    #button-text{
        color: #FFF;
    }
    .option {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
    }
    /*section-1 start---------------------------------------*/

   .main-container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    }

    .section1-text-container{
        display: flex;
        justify-content: space-between;
        column-gap: 1.25rem;
        margin-top: 5rem;

    }
    .section1-text{
        
        width: 50%;
    }
    
    .section1-text h3{
        font-size: 2.5rem;
        font-weight: 800;
        margin-bottom: 1.5rem;
    }

    .section1-image{ 
        
        width: 50%;
    }
    .section1-image img{
        width: 100%;
    
    }
    .ul-para{
       
        padding-left: 2.5rem;
        padding-right: 5rem;
        text-align: justify;
        color: rgba(19, 19, 24, 0.70);
        font-size: 1rem;
        font-weight: 400;
    }
    .para1{
        
        padding-right: 5rem;
        text-align: justify;
        color: rgba(19, 19, 24, 0.70);
        font-size: 1rem;
        font-weight: 400;
    }
    #para2{
        
        padding-right: 5rem;
        text-align: justify;
        color: rgba(19, 19, 24, 0.70);
        font-size: 1rem;
        font-weight: 400;
    }
    .button02{
        width: 10.875rem;
        height: 3.25rem;
        background-color: #FF5400;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 800;
        border-radius: .5rem;
        margin-top: 7.5rem;
    }


    /*section-2 start-----------------------------...........*/
    .main-container{
        max-width: 78.125rem;
        margin-left: auto;
        margin-right: auto;

    }
    .scetion2-image{
        border: 0.125rem solid tomato;
        min-height: 600px;
    }
    
    .section2-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
        margin-bottom: 3rem;
        margin-top: 6.25rem;
    }
    .section2-text h4{

        font-size: 2.5rem;
        width: 29.875rem;
        font-weight: 800;
        text-align: center;
    }
    .section2-text p{

        font-size: 1rem;
        width: 40.2rem;
        font-weight: 400;
        text-align: center;
    }

    .image0to1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        column-gap: 1.25rem;
        margin-bottom: 1.25rem;
        
    }
    #tour1 img{
        width: 100%;
        position: relative;
    }
    .indonishia{
        position: absolute;
        left: 63%;
        top: 108rem;
    }
    #tour0 img{
        width: 100%;
        position: relative;   
    }
    .maldives{
        position: absolute;
        left: 25%;
        top: 108rem;
    }
    

    #image2to6{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 1.25rem;  
    } 

    /*
    .image2to6{
        display: grid;
        grid-template-columns: repeat(9,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 24px;  
    }
*/

    #tour2{
        grid-column: 1/span 3;
        grid-row: 1/ span 1;
        position: relative;
    }
    .srilinka{
        position: absolute;
        left: 25%;
        top: 108rem;
    }
   
    #tour3 {
        grid-column: 4/span 4;
        grid-row: 1/ span 1;
    }
   
    #tour4 {
        grid-column: 8/span 2;
        grid-row: 1/ span 1;
    }
    #tour5 {
        grid-column: 1/span 3;
        grid-row: 2/ span 1;
    }
    #tour6 {
        grid-column: 4/span 6;
        grid-row: 2/ span 1;
    
    }
    #tour2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #tour2 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    #tour3 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    #tour4 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
    #tour5 img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }
     #tour5 img{
        width: 100%;
        height: 100%;
        object-fit: cover;width: 100%;
        object-fit: cover;
        border-radius: 1rem;

    }
     
     #tour6 img{
        width: 100%;
        height: 100%;
        object-fit: cover;width: 100%;
        object-fit: cover;
        border-radius: 1rem;
     }



    /*section-2 end-----------------------------*/

    

    /*section-3 start-----------------------------*/

    .section3-text h3{
        width: 19.1875rem;
        font-size: 2.5rem;
        font-weight: 800;
        color: #131318;
        text-align: center;
        padding-bottom: 1.25rem;

     }
     .section3-text p{
        width: 40.1875rem;
        font-size: 1rem;
        font-weight: 400;
        color: (19, 19, 24, 0.70);
        text-align: center;
        margin-bottom: 3rem;
        

     }
     .section3-text {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 6.25rem;
     }
     .card {
        width: 35.875rem;
        border-radius: 1rem;
        padding: 1.9rem;
     }
     .card h5 {
        color: #131318;
        text-align: left;
        font-size: 1.25rem;
        font-weight: 800;
        width: 15.625rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
     }
     .card p {
        color: #5A5A5D;;
        text-align: left;
        font-size: 1rem;
        font-weight: 400;
        width: 30.325rem;
     }
     .card1{
        
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
     }
     
     .card2{
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
     }
     
     .card3{
        border: 1px solid rgba(233, 68, 68, 0.20);
        background: rgba(233, 68, 68, 0.05);
     }
     .card12{
        display: flex;
        gap: 1.25rem;
     }
     .card3-flex{
        display: flex;
        justify-content: center;
        padding-top: 1.25rem;
        
     }
     /*section-3 end-----------------------------*/
     /*section-4 Start-----------------------------*/

     .section4-text{
        border-radius: 1rem;
        border: 1px solid #FF5400;
        width: 29.628rem;
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        padding-left: 4.68rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        
     }
     .section4-text h4{
        color: #131318;
        font-size: 1.25rem;
        font-weight: 800;

        
     }
     .section4-text p{
        color: #5A5A5D;
        font-size: 1rem;
        font-weight: 400;
        width: 21.875rem;
        

     }
     .input{
        width: 23.3125rem;
        border-radius: .5rem;
        background: rgba(19, 19, 24, 0.05);
        border: none;
        height: 3.25rem; 
     }
     .news-letter-input-text[placeholder]
     {padding-left: 1.25rem;}

     .news-letter-email[placeholder]
     {padding-left: 1.25rem;
     }

     .section4-image{
        width: 53%;
     }
     #section4{
        display: flex;
        justify-content: space-between;
        margin-top: 6.25rem;
        position: relative;
     }

     #sticker {
        
        
     }

     #sticker p{
        width: 15.625rem;
        height: 5rem;
        background-color: #FF5400;
        transform: rotate(-35deg);
        position: absolute;
        left: 78%;
        top: 16rem ;
        padding: 0.375rem;
        border-radius: 0.625rem;
        text-align: center;
     }
     #sticker-web {
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 400;
     }
     #sticker-discount {
        color: #FFF;
        font-size: 2rem;
        font-weight: 800;
     }
     .button2{
        background: #FF5400;
        color: #FFF;
        width: 24.56rem;
        border-radius: 8px;
        border: none;
        height: 3.25rem; 
        font-size: 1.25rem;
        
     }

     #section5{
        display: flex;
        justify-content: space-between;
        gap: 1.25rem;
        padding-top: 2.5rem;
        padding-bottom: 3rem;
    }
    .section5-text{
        width:50%;
        margin: 0;
        padding: 0;
        
    }
    .section5-image{
        width: 50%;
    }
    .section5-image img{
        width: 100%;
        border-radius: 1rem;
    }
    .section5-text p{
        font-size: 1rem;
        font-weight: 400;
        color: #5A5A5D;
        padding-right: 2.5rem;
        text-align: justify;
    }
    .section5-text h1{
        font-size: 2.5rem;
        font-weight: 800;
        color: 
        
        
    }
    .button3{
        width: 10.875rem;
        height: 3.25rem;
        background-color: #FF5400;
        color: #FFF;
        font-size: 1.25rem;
        font-weight: 800;
        border-radius: .5rem;
        margin-top: 3.125rem;
        margin-right: 6.25rem;
    }

     /*footer-----------------------------------------------*/
     .footer-contarine{
        margin: 0 auto;
        }
        .footer-color1{
            background-color: #424247;
        }

     .footer-head{
        display: flex;
        justify-content: center;
        gap: 1.25rem;
        padding-top: 6.25rem;
        padding-bottom: 1rem;
     }


     .footer-head img{
        width: 2.5rem;
        height: 2.875rem;
     }


     .footer-head h3{
        font-size: 2rem ;
        font-weight: 800;
       
     }


     #footre-head-para{
        width: 48.06rem;
        padding-right: 3.125rem;
        padding-left: 3.125rem;
        text-align: center;
        border: .125rem solid tomato;
        height: 3.125rem;
     }

     .emoji{
        display: flex;
        justify-content: center;
        gap: 1.25rem;
        padding-top: 2.5rem;
        
        
     }
     .emoji img {
        width: 1.25rem;
        height: 1.25rem;
     }
     hr{ border: .094rem solid black;;
        width: 54.5rem
        ;
        margin-left : auto;
        margin-right: auto;
           margin-top: 2.5rem;
        margin-bottom: 2.5rem;}
    .copy-right p{
        text-align: center;
        margin: auto;
        display: flex;
        justify-content: center;
        
    }
    .bg-color{
        background-color: #1313180D;
    }
    














    @media screen and (max-width:599px) {
/*header--------------------------start-----------*/
.header-container{
    
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    margin-top: 3.125rem;}  
    
    .three-bar-icon{
        
        min-width: 1.25rem;
        min-height: 1.25rem;
        display: inline;
        margin: auto;
        padding: 0.3rem;

    }
.nav-container{
            flex-direction: column;
        }
        #nav-name{
            padding-left: 0px;
            width: 26.25rem;
        }
        #nav-manu{
            display: none;
            
        }

        #header-image{
        
            
            min-height: 31.25rem;
            width:100%;
            background-size: cover;
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 3rem;
        }
        .input-field{
            flex-direction: column;
            border-radius: .5rem;
            background: rgba(255, 255, 255, 0.30);
            height: 16rem;
            width: 16rem;
            justify-content: center;
            align-items: center;
            row-gap: .5rem;
        }

        .header-image-text h2{
            width: 16.8rem;
            font-size: 1.375rem;
            color: #FFF;
            text-align: center;
        }

        .header-image-text p{
            width: 19rem;
            font-size: 0.875rem;
            text-align: center;
        }




        #list-items {
            list-style-type:circle;
          }

        .section-text p{
            width: 100%;
        }
        /* section-1 start-----------------------------------------*/
        .section1-text-container{
            flex-direction: column;

    
        }
        .section1-text{
        
            width: 100%;
        }
        
        
        
        .section1-image img{
            width: 410px,
            
        }
        .section1-image{
            width: 100%;
            height: 100%;
            margin-top: 5rem;
        }
        .ul-para{
           
            
            text-align: justify;
            color: rgba(19, 19, 24, 0.70);
            font-size: 1rem;
            font-weight: 400;
        }
        .para1{
            
            padding-right: 0px;
            text-align: justify;
            color: rgba(19, 19, 24, 0.70);
            font-size: 1rem;
            font-weight: 400;
        }
        #para2{
            
            padding-right: 0px;
            text-align: justify;
            color: rgba(19, 19, 24, 0.70);
            font-size: 1rem;
            font-weight: 400;
        }
        .button02{
            width: 10.875rem;
            height: 3.25rem;
            background-color: #FF5400;
            color: #FFF;
            font-size: 1.25rem;
            font-weight: 800;
            border-radius: 0.5rem;
            margin-top: 7.5rem;
        }
    
        

        /*---------section-2 start--------*/
        .section2-text h4{

            font-size: 1.25rem;
            width: 14.94rem;
            text-align: center;
        }
        .section2-text p{

            font-size: .9rem;
            width: 19.3125rem;
            font-weight: 400;
            text-align: center;
        }

        .image0to1{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
            row-gap: 1.25rem;
            
        }
        #image2to6{
           
            display: flex; 
            flex-direction: column;
            
        } 

        #tour1 img{
            width: 100%;
            position: relative;
        }
        .indonishia{
            position: absolute;
            left: 27%;
            top: 160rem;
        }
        #tour0 img{
            width: 100%;
            position: relative;   
        }
        .maldives{
            position: absolute;
            left: 27%;
            top: 145rem;
        }
        /*section 5........................*/

#section5{
    flex-direction: column;
    padding-left: 0.625rem;
    padding-right: 0.625rem;

    
}
.section5-text{
    width:100%;
    margin: 0;
    padding: 0;
    
}
.section5-image{
    width: 100%;
}
.section5-image img{
    width: 100%;
    border-radius: 1rem;
}
.section5-text p{
    font-size: 0.9rem;
    font-weight: 400;
    color: #5A5A5D;
    padding-right: 0px;
    text-align: justify;
}
.section5-text h1{
    font-size: 1.25rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1.25rem;
    
    
}  
/*section-3 start-----------------------------*/
.section3-text h3{
    width: 9.625rem;
    font-size: 1.25rem;
    padding-bottom: 1.5rem;

 }
 .section3-text p{
    width: 19.31rem;
    font-size: .9rem;
 }

 .card12{
    flex-direction: column;
    gap: 1.50rem;
    justify-content: center;
    align-items: center;
 }
 .card {
    width: 14.68rem;
    height: 18.06rem;
    border-radius: 1rem;
 }

 .card h5 {
    color: #131318;
    text-align: left;
    font-size: 1.25rem;
    width: 11.5rem;
    
 }
 .card p {
    color: #5A5A5D;;
    text-align: left;
    font-size: .9rem;
    width: 15.94rem;
 }
 /*section-4 Start-----------------------------*/
 #section4{
    flex-direction: column;
    align-items: center;
 }

 .section4-text{
    width: 20rem;
    padding-left: 20;

    
 }


.section4-text h4{
   color: #131318;
   font-size: 1.25rem;
   font-weight: 800;

   
}

.section4-text p{
   color: #5A5A5D;
   font-size: .9rem;
   width: 16.87rem;
}

.section4-text{
    border-radius: 1rem;
    border: 1px solid #FF5400;
    width: 21.56rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 3.75rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    
 }
.input{
   width: 16.56;
   border-radius: 0.5rem;
   background: rgba(19, 19, 24, 0.05);
   border: none;
   height: 3.25rem; 
}
.button2{
    background: #FF5400;
    color: #FFF;
    width: 18rem;
    border-radius: 8px;
    border: none;
    height: 3.25rem; 
    font-size: 1.25rem;
    
 }
 .section4-image {
    width: 25.6rem;
    height: 18.75rem;
    margin: 1.875rem auto;

 }
 .section4-image img{
    width: 100%;
    height: 100%;
 }
 #sticker p{
    width: 13.3rem;
    height: 3.75rem;
    background-color: #FF5400;
    transform: rotate(-35deg);
    position: absolute;
    left: 44%;
    top: 37rem;
    padding: 0.375rem;
    border-radius: 0.625rem;
    text-align: center;
 }
 #sticker-web {
    color: #FFF;
    font-size: .9rem;
    font-weight: 400;
 }
 #sticker-discount {
    color: #FFF;
    font-size: 21px;
    font-weight: 800;
 }


 hr{ 
    width: 28rem;  
    }
}